.gitignore

node_modules/
functions/node_modules/

dist/
functions/lib/
public/
src/data/
src/assets/

.firebase/
firebase.json
firestore.indexes.json
firestore.rules

functions/src/serviceAccountKey.json
.env*

.vercel/
scripts/.vercel/

*.log
*.cache
*.map

repomix.config.json
repomix-output.txt
