.gitignore
node_modules/
functions/node_modules/
dist/
functions/lib/
.firebase/
**/serviceAccountKey.json
.vercel
src/data/
public/files/names.txt
firebase.json
firestore.indexes.json
firestore.rules
functions/src/serviceAccountKey.json
repomix.config.json
repomix-output.tx
